@media screen and (max-width: 1200px) {
  body {
    padding: 150px 50px 50px;
  }
  .wrapper2 {
    margin-left: 20px;
  }
}

@media screen and (max-width: 700px) {
  body {
    padding: 150px 5px 5px;
  }
  .wrapper2 {
    margin-left: 10px;
  }
}

@media screen and (min-width: 1200px) {
  body {
    padding: 150px 300px 300px;
  }
  .wrapper2 {
    margin-left: 50px;
  }
}

body
{
margin: auto;

background-image: url(https://images.wallpaperscraft.ru/image/krylo_samolet_oblaka_140963_1920x1080.jpg);
font-family: 'Open Sans', sans-serif;
}

.main__logo-container
{
position: absolute;
left: 46.88%;
right: 46.88%;
top: 3.7%;
bottom: 91.85%;
}

.cointeiner__radio
{ 
  display: flex;
}


.cointeiner__radio input[type = "radio"]
{
  display: none;
}

.cointeiner__radio label
{
  background-color:white;
  font-style: normal;
  border: 1px solid #DFE5EC;
  font-size: 14px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  display: block;
  height: 60px;
  margin-bottom: 30px;
  cursor: pointer;
  text-align: center;
	line-height: 60px;
  }

.cointeiner__radio input[type = radio]:checked + label 
{
  background-color: #1E90FF;
  color: #ffffff;
  border: 1px solid #1E90FF;
  transition: 1s ease;
}

.button1 label 
{
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.button2 label
{
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.button1
{
  position: relative;
  flex: 1 0 0;
  overflow: hidden;
  letter-spacing: 0.5px;
}

.button2
{
  position: relative;
  flex: 1 0 0;
  overflow: hidden;
  letter-spacing: 1px;
}

.option 
{
display: block;
margin-bottom: 0.25em;
}

.check.option
{
  cursor: pointer;
}

.check {
padding-left: 1.2em;
}

.check__input {
position: absolute;
width: 1px;
height: 1px;
overflow: hidden;
clip: rect(0 0 0 0);
}

.check__box {
position: absolute;
margin-top: 0.2em;
margin-left: -1em;
width: 0.6em;
height: 0.6em;
border-radius: 0.05em;
background-color: white;
box-shadow: 0 0 0 0.1em #4a90e2;
transition: 1s ease;
}

.check__input:checked + .check__box {
background-color: #4a90e2;
background-image: url(images/check.svg);
}

.check__input:focus + .check__box {
box-shadow: 
0 0 0 0.1em #4a90e2,
0 0 0 0.2em #7ed321;
}

.check__input:disabled + .check__box {
box-shadow: 0 0 0 0.1em #9b9b9b;
}

.check__input:checked:disabled + .check__box {
background-color: #9b9b9b;
}

.wrapper2
{
  display: inline-block;
  flex-grow: 1;
  /*margin-left: 50px;*/
}

.wrapper
{
display: flex;
flex-grow: 1;
}

.filter
{
display: inline-table;
background: #FFFFFF;
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
border-radius: 5px;
padding: 10px 20px 20px;
}


.ticket
{
flex-grow: 1;
display: block;
list-style: none;
}

.container__ticket 
{
  list-style: none;
  margin: 0;
  padding: 0;
}

.ticket__item
{
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 26px 20px 20px;
  box-sizing: border-box;
}

.ticket__item:not(:last-child)
{
  margin-bottom: 30px;
}

.ticket__header
{
  display: flex;
  margin-bottom: 30px;
}

.ticket__price
{
  flex-basis: 0;
  flex-grow: 2;
  
  font-style: normal;
  font-weight: 600;
  font-size: 24px;

  color: #2196F3;
}

.ticket__logo-container
{
  flex-basis: 0;
  flex-grow: 1;
}

.ticket__logo
{
  width: 110px;
  height: 36px;
  background: gray;
  display: block;
}

.ticket__variant-list
{
  list-style: none;
  margin: 0;
  padding: 0;
}

.ticket__variant
{
  display: flex;
}

.ticket__variant:not(:last-child)
{
  margin-bottom: 10px;
}

.ticket__variant-part
{
  flex-grow: 1;
}

.ticket__variant-part-label
{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;

  letter-spacing: 0.5px;
  text-transform: uppercase;

  color: #A0B0B9;
}

.ticket__variant-part-value
{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;

  color: #4A4A4A;
}